 
<br>

{% extends "menu/base.html " %}

{% block content %}
 

    <section id="about">
      <div class="container">
       {% for about in about_us %}

        <header style="background-color:#0033cc;" class="section-header">
          <h3 style="color: #ffffff; ">About Us</h3>
          <p style="color: #ffffff;">{{about.title}}<br>
            <small>Within & Beyond East Africa</small></p>
          </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
             {{about.description|safe|linebreaks }}
            </p>
            <p> <b>OUR CORE COMPETENCIES</b></p>
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% url 'menu:service'%}">{{about.oursolution1}}</a></h4>
              <p class="description"></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% url 'menu:service'%}">{{about.oursolution2}}</a></h4>
              <p class="description"></p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% url 'menu:service'%}">{{about.oursolution3}}</a></h4>
              <p class="description"></p>
            </div> 
           
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% url 'menu:service'%}">{{about.oursolution5}}</a></h4>
              <p class="description"></p>
            </div> 
             <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="{% url 'menu:service'%}">{{about.oursolution4}}</a></h4>
              <p class="description"></p>
            </div> 

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="{{ about.image_url|default_if_none:'#' }}" class="img-fluid" alt="">
          </div>
        </div>
      {%endfor%}
        
        

      </div>
    </section>
    
    {% endblock content %}